@charset "utf-8";

.hide{
    width:0; height:0;
    font-size:0;line-height:0;
    position:absolute;
    visibility:hidden;
}

/*  */
header>div,article>div{
    width:1320px;
    margin:0 auto;
    background-color:pink;
}

.title{}
.text{}