@charset "utf-8";
/* raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

img{
    max-width:100%;
}
body{
    font:18px/30px Arial,sans-serif;
}
.hide{
    width:0; height:0;
    font-size:0;line-height:0;
    position:absolute;
    visibility:hidden;
}
/* layout ->  */
/* 공통 부분 */
header>div,article>div{
    width:1320px;
    margin:0 auto;
    /* background-color:pink; */
}
#box02, #box03, #box04, #box05, #box06{
    padding:85px 0;
}
div>h3{
    font-size:48px;
    text-align:center;
    margin-bottom:35px;
}
.title{
    font-size:30px;
    margin-bottom:50px;
}
.text{
    margin-bottom:50px;
}

/* header */
header{
    padding:18px 0;
    background-color:#000;
    /* 태블릿 모바일 버튼 */
    position:relative;
}
header>div{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
header h1>a{
    font-family:'나눔고딕',Arial,sans-serif;
    font-size:30px;
    font-weight:bold;
    color:#fff;
}
nav{}
nav>ul{
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
nav>ul>li{
    margin-left:40px;
}
nav>ul>li>a{
    font-weight:bold;
    color:#fff;
}

/* header 버튼 */
#btn{
    width:30px;
    height:30px;
    position:absolute;
    right:18px;
    top:18px;
    background-color:red;
    display:none;
}
nav .close{}

/* #box01 */
#box01{
    width:auto; 
    height:calc(100vh - 70px);
    background-color:green;
    position:relative;
}
#box01>h2{
    position:absolute;
    width:675px;
    height:280px;
    border:1px solid #fff;
    left:50%; top:50%;
    margin:-140px 0 0 -338px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:'Raleway',Arial,sans-serif;
    font-size:70px;
    font-weight:lighter;
    color:#fff;
    line-height:70px;
    text-align:center;
}
#box01>ul{
    width:400%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
    /* justify-content:flex-start; */
}
#box01>ul>li{
    width:25%;
    height:100%;
    background:url('../images/blue.jpg') no-repeat center top;
    background-size:100%;
    text-indent:-99999px;
}
#box01>ul>li.no02{background-image:url('../images/pink.jpg');}
#box01>ul>li.no03{background-image:url('../images/purple.jpg');}
#box01>ul>li.no04{background-image:url('../images/green.jpg');}

#box01.no{
    position:absolute;
    right:100px;
    bottom:30px;
    background-color:red;
}
#box01.no>a{
    display:inline-block;
    width:20px; height:20px;
    margin: 0 8px;
    border-radius:50%;
    background-color:#fff;
    text-indent:-99999px;
}
#box01 .prev{
    position:absolute;
    width:40px; height:40px;
    left:50px; 
    top:50%;
    border:1px solid #fff;
    margin-top:-20px;
}
#box01 .next{
    position:absolute;
    width:40px; height:40px;
    right:50px;
    top:50%;
    border:1px solid #fff;
    margin-top:-20px;
}

/* box02 */
#box02{}
#box02>div{
    width:980px;
    margin: 0 auto;
    background-color:green;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
#box02>div>dl{
    width:268px;
    padding:140px 0 54px;
    text-align:center;
    color:#fff;
    background:#9c9491 url('../images/header_icon_01.png') no-repeat center 62px;
}
#box02>div>dl:nth-child(2){background-image:url('../images/header_icon_02.png');}
#box02>div>dl:nth-child(3){background-image:url('../images/header_icon_03.png');}
#box02>div>dl>dt{
    font-family:'Raleway',sans-serif;
    font-size:20px;
    margin-bottom:50px;
}
#box02>div>dl>dd{
    width:80%;
    margin: 0 auto;
}

/* box03 */
#box03{
    background-color:#e8e8e8;
}
#box03>div{}
#box03>div>div{
    width:1100px;
    margin: 0 auto;
    /* background-color:green; */
    padding-left:440px;
    box-sizing:border-box;
    position:relative;
}
#box03>div>div>figure{
    position:absolute;
    left:0; top:0;
}
#box03 .btn{
    text-align:right;
}
#box03 .btn>button{
    width:196px; height:54px;
    background-color:#9c9491;
    border:none;
    box-sizing:border-box;
    border-radius:27px;
    color:#fff;
}
